<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="io.oversec.one.crypto.sym.KeystoreIntentService"
            android:exported="false" />

        <service
                android:name=".ZxcvbnService"
                android:exported="false"
                android:process="io.oversec.one.crypto.zxcvbn"
        />
    </application>

</manifest>