<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
                android:name="io.oversec.one.crypto.TemporaryContentProvider"
                android:authorities="@string/tempcontent_authority"
                android:grantUriPermissions="true" tools:ignore="ExportedContentProvider"/>

        <service
                android:name=".ZxcvbnService"
                android:exported="false"
                android:process="io.oversec.one.crypto.zxcvbn"
        />
    </application>

</manifest>